* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    text-decoration: none;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    position: relative;
}

.navbar-custom {
    background-color: rgb(251, 251, 251);
    font-size: 19px;
    font-weight: 600;
}

@media (max-width: 991px) {
    .navbar-custom .navbar-brand {
        margin-top: 9px;
        margin-bottom: 9px;
        margin-left: 18px;
    }
    .navbar-custom .navbar-nav {
        margin-top: 25px;
    }
}


/* Customizes NavBar/Header */


/*.navbar {
    max-height: 62px;
}*/

.navbar-custom .navbar-nav .nav-link {
    color: #00695c;
}

.navbar-custom .navbar-nav .nav-link:visited {
    color: #00695c;
}

.navbar-custom .nav-link:hover {
    transition-duration: 0.6s;
    background-color: rgb(231, 231, 231);
}

.navbar-custom .nav-link {
    padding: 15px;
    margin: auto 15px;
}


/* Customizes hamburguer icon */

.fa-bars {
    font-weight: 900;
    color: #00695c;
    border-style: none;
}

.navbar-toggler:active span {
    color: rgb(187, 187, 187);
}

.navbar-toggler:focus span {
    color: rgb(187, 187, 187);
}

.fa-bars:active {
    font-weight: 900;
    color: rgb(187, 187, 187);
    border-style: none;
}

.navbar-toggler {
    border: none;
}


/* Customizes main content */

.content-container {
    font-size: 16.5px;
}

.carousel-item {
    height: 600px;
    width: 100%;
}

.carousel-item img {
    height: 600px;
    width: 100%;
}

.sec2 {
    margin: 40px;
    text-align: center;
}

.sec2 img {
    margin: 30px 0px;
}

.sec3 {
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 22px;
    height: 500px;
    color: white;
    padding: 40px;
}

.sec3:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: url('./img/htmlcss-bg.png') no-repeat center center /cover fixed;
    content: '';
    filter: grayscale(20%) blur(0.7px) brightness(0.35);
    z-index: -1;
}

.sec3-content {
    height: 200px;
    font-size: auto;
}

@media (max-width:991px) {
    .sec3 {
        height: 1000px;
    }
    .sec3-content {
        font-size: 20px;
    }
}


/* Customizes footer */

footer {
    background-color: #00897b;
    color: #fff;
    padding: 20px;
    width: 100%;
}

footer .column {
    padding-bottom: 40px;
    height: auto;
    overflow-y: none;
}

footer h2 {
    overflow: none;
}

.copy {
    width: 100%;
    float: right;
    display: block;
    color: #fff;
    font-size: 12px;
    margin-top: 21px;
    margin-right: 25px;
}

.footer {
    width: 100%;
    height: 60px;
    text-align: center;
    align-content: center;
    background-color: #00695c;
}