html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 22px;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 3.5fr;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "h h" "m m" "f f";
}


/*Estilização do header*/

header {
    background: #efefefee;
    color: #18818d;
    grid-area: h;
    text-align: center;
    height: 100%;
}

header ul {
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #18818d;
}

header li {
    display: inline-block;
    text-align: center;
    padding: 10px 15px 35px;
    color: #18818d;
}

header li a {
    color: #18818d;
    padding: inherit;
    text-decoration: none;
}

.landpage-header:hover {
    background-color: lightgray;
    color: #18818d;
    transition: 0.4s;
}

#btn-toggleNav {
    outline-style: none;
    float: right;
}


/*Estilização do side-nav*/

aside {
    grid-area: m;
}

.accordion {
    padding: 25px 25px 25px 15px;
    width: 100%;
    /* Ocupa 100% do tamanho da div */
    background-color: #efefefee;
    border: none;
    cursor: pointer;
    outline: none;
    color: #18818d;
    transition: 0.2s;
    text-align: left;
}

.active,
.accordion:hover {
    background-color: lightgray;
}


/*Estilização da lista**/

.list {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    width: inherit;
    /* herda o tamanho do accordion que a contém */
}

.list a {
    display: block;
    padding: 5px;
    background-color: #efefefee;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    transition: 0.4s;
    /*color: rgb(99, 105, 105);*/
    color: #808080;
}

.landpage:hover {
    background-color: lightgray;
    color: #18818d;
}

li a:active {
    color: #808080;
}

.panel {
    padding: 0;
    background-color: inherit;
    color: #808080;
    max-height: 0;
    overflow: hidden;
    /* "esconde" o conteudo inicialmente */
    transition: max-height 0.2s ease-out;
    /* Transição */
}

.accordion:after {
    /* Adiciona o ícone \/ após fechar */
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-weight: bold;
    float: right;
}

.active:after {
    /* Adiciona o ícone /\ após abrir */
    font-family: "Font Awesome 5 Free";
    content: "\f077";
    font-weight: bold;
    float: right;
}


/*Estilização do content*/

.content {
    padding: 15px;
    grid-area: m;
    background-color: #3d3c3c;
    height: 100%;
    color: #efefefee
}


/** Estilização dos Inputs**/

.input-container {
    width: 120px;
    height: auto;
    display: block;
}

.input-container input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    border: 1px solid #808080;
    border-radius: 3px;
}

#btnRegister {
    margin-top: 5px;
    color: #18818d;
}


/*Estilização do footer*/

footer {
    background-color: #efefefee;
    color: #18818d;
    text-align: center;
    height: 100%;
    grid-area: f;
}